@media screen and (min-width: 768px) {
  .block {
    width: 300px;
    float: left;
    padding: 20px;
  }
}

@media screen and (max-width: 768px) and (min-width:600px) {
  body{
    background-color: black;
    color: white;
  }
}

@media screen and (max-width:480px) {
  body {
    background-color: yellow;
  }
}


.block {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.column-1 {
  width: 30%;
  float: left;
  padding: 4px;
  margin: 2px;
  background-color: #DDEBEF;
  border: 3px dashed black;
}

.column-2 {
  width: 30%;
  float: left;
  padding: 4px;
  margin: 2px;
  background-color: #83B9C9;
  border: 3px dashed black;
}

.column-3 {
  width: 30%;
  float: left;
  padding: 4px;
  margin: 2px;
  background-color: #3A8195;
  border: 3px dashed black;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}
